table.data_content_tb {
	clear:both;
	margin:0;
	padding:0;
	width:100%;
	border-collapse:collapse;
	line-height: 30px;
    padding: 1px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.2);
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border:1px solid #DFDFDF;
}

.data_content_tb th{
	background:url(../images/title_bg.jpg) repeat-x 0 0;
	line-height:28px;
	padding:0;
	padding:0 5px 0 5px;
	color:#444444;
	text-align: center;
	white-space:nowrap;
}
.data_content_tb tr{
	cursor: default;
}

.data_content_tb tr.even {
    background-color: #FCF9EB;
}
.data_content_tb tr.odd {
    background-color: #FAFAFA;
}
.data_content_tb tbody tr:HOVER {
	background-color: #FDF3AF;
}
.data_content_tb tbody tr.select{
	background-color: #C7E1FA;
}
.data_content_tb td {
    border-top:1px solid #dfdfdf;
	padding-right:5px;
	padding-left:5px;
	padding-top:2px;
	padding-bottom:2px;
	height:23px;
	text-align: center;
	white-space:nowrap;
}

th.sorted {

}

th a,th a:visited {
	color: #444444;
}

th a:hover {
	text-decoration: underline;
	color: red;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a{
	background-image: url(../images/arrow_off.png);
	background-repeat: no-repeat;
	text-decoration: none;
	font-weight: bold;
}

th.sortable a:hover {
	text-decoration: none;
}


th.order1 a {
	background-image: url(../images/arrow_up.png);
	background-repeat: no-repeat;
}

th.order2 a {
	background-image: url(../images/arrow_down.png);
	background-repeat: no-repeat;
}

div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 79%;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url(../images/ico_file_excel.png);
}

span.csv {
	background-image: url(../images/ico_file_csv.png);
}

span.xml {
	background-image: url(../images/ico_file_xml.png);
}

span.pdf {
	background-image: url(../images/ico_file_pdf.png);
}

span.rtf {
	background-image: url(../images/ico_file_rtf.png);
}
span.pagebanner {
	color: #5A564D;
	float: left;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 20px;
}

span.pagelinks {
	color: #545048;
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}

span.pagelinks a:hover {
	color: red
}

span.pagelinks input{
	width: 25px;
}
span.pagelinks input[type="text"]{
	width: 30px;
}
span.pagelinks a{
	text-decoration:none;
	color:#426DBD
}
span.pagelinks a:hover{
	color:red
}

#selectofpagesize{
	width: 50px;
	border:1px solid #c5c5c5;
}

.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;

}
.subtotal-sum, .grandtotal-sum {
    font-weight:bold;
    text-align:right;
}
.subtotal-header {
    padding-bottom: 0px;
    border-top: 1px solid white;
}
.subtotal-label, .grandtotal-label {
    border-top: 1px solid white;
    font-weight: bold;
}
.grouped-table tr.even {
    background-color: #fff;
}
.grouped-table tr.odd {
    background-color: #fff;
}
.grandtotal-row {
    border-top: 2px solid black;
}
